<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/Loopple/loopple-public-assets@main/riva-dashboard-tailwind/riva-dashboard.css">

<div>
  <!-- Main Component HTML -->
  <div>
    <div class="flex flex-wrap -mx-3 mb-5">
      <div class="w-full max-w-full px-3 mb-6 mx-auto">
        <div class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] bg-white m-5">
          <div class="relative flex flex-col min-w-0 break-words border border-dashed bg-clip-border rounded-2xl border-stone-200 bg-light/30">

            <div class="px-9 pt-5 flex justify-between items-stretch flex-wrap min-h-[70px] pb-0 bg-transparent">
              <h3 class="flex flex-col items-start justify-center m-2 ml-0 font-medium text-xl/tight text-dark">
                <span class="mr-3 font-semibold text-dark">GlobalGathering Posts</span>
                <span class="mt-1 font-medium text-secondary-dark text-lg/normal">All the posts of our app</span>
              </h3>
              <div class="relative flex flex-wrap items-center my-2">
                <a href="javascript:void(0)"
                  class="inline-block text-[.925rem] font-medium leading-normal text-center align-middle cursor-pointer rounded-2xl transition-colors duration-150 ease-in-out text-light-inverse bg-light-dark border-light shadow-none border-0 py-2 px-5 hover:bg-secondary active:bg-light focus:bg-light"
                  (click)="openPostModal()">
                  Create a Post
                </a>
              </div>              
            </div>

            <div class="flex-auto block py-8 pt-6 px-9">
              <div class="relative mb-4">
                <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="applyFilter()" placeholder="Search a post"
                  class="pl-10 pr-4 py-2 border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 w-full"
                  style="padding-left: 2.5rem;">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>
                </div>
              </div>
              <div class="overflow-x-auto">
                <table class="w-full my-0 align-middle text-dark border-neutral-200 ">
                  <thead class="align-bottom">
                    <tr class="font-semibold text-[0.95rem] text-secondary-dark">
                      <th class="pb-3 text-center min-w-[175px]">IMAGE</th>
                      <th class="pb-3 text-center min-w-[100px]">COMMENT</th>
                      <th class="pb-3 text-center min-w-[150px]">RELATED EVENT</th>
                      <th class="pb-3 text-center min-w-[150px]">CREATED BY</th>
                      <th class="pb-3 text-center min-w-[100px]">CREATED AT</th>
                      <th class="pb-3 text-end min-w-[50px]">ACTIONS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let post of filteredPosts" class="hover:bg-slate-200">
                        <td>
                            <button (click)="openModal(post.uri)" class="focus:outline-none">
                              <figure class="p-4 max-w-lg min-w-lg ">
                                <div class="relative flex items-center justify-center h-40 w-80 overflow-hidden rounded-lg">
                                  <img *ngIf="post.uri" [src]="post.uri" alt="Post Image" class="absolute inset-0 h-full w-full object-cover">
                                </div>
                              </figure>
                            </button>
                          </td>
                      <td class="p-3 pr-0 text-end">
                        <span class="font-semibold text-light-inverse text-md/normal">{{post.comment}}</span>
                      </td>
                      <td class="p-3 pr-12">
                        <span class="font-semibold text-light-inverse text-md/normal">{{post.relatedEvent}}</span>
                      </td>
                      <td class="p-3 pr-12">
                        <span class="font-semibold text-light-inverse text-md/normal">{{post.createdBy}}</span>
                      </td>
                      <td class="p-3 pr-12">
                        <span class="font-semibold text-light-inverse text-md/normal">{{post.createdAt | date}}</span>
                      </td>
                      <td class="pr-0 text-end">
                        <button (click)="deletePostConfirmation(post)" class="inline-block text-light-inverse">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                          </svg>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
              <!-- Pagination controls -->
              <div class="flex justify-center mt-4">
                <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
                  class="px-3 py-1 mx-1 text-sm font-medium bg-gray-100 border rounded-md hover:bg-gray-200">
                  Previous
                </button>
                <span class="px-3 py-1 mx-1 text-sm font-medium">{{ currentPage }} / {{ totalPages }}</span>
                <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages"
                  class="px-3 py-1 mx-1 text-sm font-medium bg-gray-100 border rounded-md hover:bg-gray-200">
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-delete-post-modal *ngIf="showDeleteModal" (closeModal)="handleModalClose($event)"
      (confirmDelete)="handleDeleteConfirmed($event)"></app-delete-post-modal>
  </div>
</div>
<div *ngIf="modalPostOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white rounded-lg w-11/12 sm:w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/4 mx-4 p-6">
    <form (submit)="createNewPost()">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="relatedEvent">
          Related Event
        </label>
        <select [(ngModel)]="newPost!.relatedEvent" id="relatedEvent" name="relatedEvent" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option *ngFor="let event of events" [value]="event.id">{{ event.name }}</option>
        </select>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="comment">
          Comment
        </label>
        <textarea [(ngModel)]="newPost!.comment" id="comment" name="comment" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" rows="4"></textarea>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="image">
         
        </label>
        <div class="relative">
          <label class="flex text-gray-700 text-sm font-bold mb-2 cursor-pointer items-center justify-center py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 w-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>
            Select a file
            <input type="file" accept="image/*" (change)="handleImageUpload($event)" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer">
          </label>
        </div>
         <img *ngIf="previewImageUrl" [src]="previewImageUrl" alt="Image Preview" class="mt-4 max-w-full h-auto rounded-lg shadow-md">
      </div>
      <div class="flex items-center justify-between">
        <button type="button" (click)="closePostModal()" class="bg-red-500 hover:bg-red-700 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Close
        </button>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" [disabled]="!newPost!.relatedEvent || !newPost!.comment || !selectedImage">
          Create Post
        </button>
      </div>
    </form>
  </div>
</div>





<div *ngIf="modalOpen" class="fixed inset-0 z-[9999] overflow-y-auto" (click)="closeModal()">
    <div class="flex items-center justify-center min-h-screen px-4">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
      </div>
      <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all max-w-3xl w-full">
       
          
        <div class="absolute top-0 right-0 m-4 flex flex-row items-end space-x-4">
            <button (click)="downloadImage($event, modalImageUrl)" class="text-gray-700 hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                </svg>
            </button>
            <button (click)="closeModal()" class="text-gray-700 hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        
                         
        <img [src]="modalImageUrl" alt="Modal Image" class="w-full h-auto">
      </div>
    </div>
</div>

      