.container {
    display: flex;
    flex-direction: column;
  }
  
  .table-container {
    display: flex;
    justify-content: center;
  }
  
  /* Estilos opcionales para centrar el contenido verticalmente */
  .container, .table-container {
    align-items: center;
    height: 100vh; 
  }
  