@font-face {
    font-family: 'Inter-Bold';
    src: url(../assets/fonts/Inter/static/Inter-Bold.ttf) format('truetype');
    font-size: 44.43;
}
@font-face {
    font-family: 'Inter-Medium';
    src: url(../assets/fonts/Inter/static/Inter-Medium.ttf) format('truetype');
    font-size: 14.81;
}

.h1font{
    font-family: 'Inter-Bold';
}
.subh1font{
    font-family: 'Inter-Medium';
}